---
- name: Create the directory for ldap certificates
  file:
    path: '{{ openldap_server_app_path }}/certs/'
    state: directory
    owner: '{{ openldap_server_user }}'
    group: '{{ openldap_server_user }}'

- name: Generate the private key for certificate request
  shell: openssl genrsa -des3 -passout pass:password -out my1.key 1024
  args:
    creates: '{{ openldap_server_app_path }}/certs/my1.key'
    chdir: '{{ openldap_server_app_path }}/certs/'


- name: Strip the passphrase from the key
  shell: openssl rsa -in my1.key -passin pass:password -out my.key
  args:
    creates: '{{ openldap_server_app_path }}/certs/my.key'
    chdir: '{{ openldap_server_app_path }}/certs/'


- name: Create and sign the the new certificate
  shell: openssl req -new -x509 -subj '/C={{ openldap_server_country }}/ST={{ openldap_server_state }}/L={{ openldap_server_location }}/O={{ openldap_server_organization }}/CN={{ ansible_hostname }}/' -days 3650 -key my.key -out cert.crt -extensions v3_ca
  args:
    chdir: '{{ openldap_server_app_path }}/certs/'
    creates: '{{ openldap_server_app_path }}/certs/cert.crt'

- name: copy the supporting files
  copy: src=ldap dest=/etc/sysconfig/ldap mode=0755
  when: ansible_os_family == 'RedHat'
  notify:
   - restart slapd


- name: copy the supporting files
  copy: src=slapd_fedora dest=/etc/sysconfig/slapd mode=0755
  when: ansible_distribution == "Fedora"
  notify:
   - restart slapd

- name: copy the supporting files
  copy: src=slapd dest=/etc/default/slapd mode=0755
  when: ansible_os_family == 'Debian'
  notify:
   - restart slapd
